env/
.env
__pycache__/
*.pyc
*.pyo
db.sqlite3
*.log
media/

# VS Code
.vscode/
env/
.env.docker
doker/
docker-compose.yml

echo "fixit_backend/celerybeat-schedule" >> .gitignore
echo "fixit_backend/celerybeat.pid" >> .gitignore
